body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}
/*
*
{
  box-sizing: border-box;
} */


/* NAVBAR styling */
.bg-img {
  /* The image used */
  background-image: url("../img/beach-sunset.jpeg");
  min-height: 300px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #EAECF1;
  border-radius: 10px;
}

/* Navbar links */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #AFEEEE;
  color: white;
}

/* MAIN section styling */
main {
  padding: 3%;
}
